.main_container {
    width: 600px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.main_container table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: RGB(255, 221, 200);
}

.main_container label {
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

input[type="text"],
select {
    width: 120px;
    margin-right: 10px;
}

.main_container .date_input {
    width: 50px;
}